# Include the tests and supporting files
recursive-include tests example.md *.yaml test.latex
recursive-include doc conf.py *.rst
recursive-include doc/_templates *.html
recursive-include doc/_static *.css
include noxfile.py

global-exclude .DS_Store
